<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trailblazing Pros</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/c6ac6d29bf.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Trailbalizing Pros</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main>{{{ body }}}</main>
      <footer>Made with <i class="far fa-heart" style="color: red;"></i> by Mario E.</footer>
    </div>

    {{!-- Scripts --}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>
